@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng</h1>
    <p>Đến với <a asp-controller="Home" asp-action="Index">Hệ thống chuẩn đoán bệnh</a>.</p>
</div>
