@{
    ViewData["Title"] = "Home Page";
}

<style>
    .row.no-gutters.slider-text.js-fullheight.p-5.justify-content-center{
        align-content: center;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Chào mừng</h1>
    <p>Đến với <a asp-controller="Home" asp-action="Index">Hệ thống chuẩn đoán bệnh</a>.</p>
</div>
